<%= link_to new_question_path do %>
  <button>add new question</button>
<% end %>

<h2>
  All Question
</h2>

<%= form_tag search_questions_path, method: :get do %>
  <%= text_field_tag :q, nil, placeholder: 'Search...'  %>
<% end %>

<hr>

<% if @questions.empty? %>
  <p>No questions are available to display</p>
<% end %>

<ul>
  <% @questions.each do |question| %>
    <%= render 'question', question: question  %>
  <% end %>
</ul>

<%= paginate @questions %>
