<%= link_to new_question_path do %>
  <button class="btn btn-success">add new question</button>
<% end %>

<p>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</p>

<h2>
  All Question
</h2>

<%= form_tag questions_path, method: :get do %>
  <%= text_field_tag :q, nil, placeholder: 'Search...'  %>
<% end %>

<% if @questions.empty? %>
  <p>No questions are available to display</p>
<% end %>

<ul>
  <% @questions.each do |question| %>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 question-box" data-question="<%= question.id %>">
        <%= render 'question', question: question  %>
      </div>
    </div>
  <% end %>
</ul>

