<hr>

<%= link_to "edit", edit_question_path(@question) %> <%# check if question.user == current_user %>
|
<%= link_to "delete", question_path(@question), { method: :delete, data: { confirm: "Are you sure" } }  %>

<h1><%= @question.title  %></h1>

<%= to_markdown @question.body %>

<hr>

<%= render partial: 'answers/form' %>

<h5>Answers:</h5>

<div id="answers-container">
  <%= render partial: 'questions/answers', locals: { answers: @answers, question: @question } %>
</div>

