
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <p>
      <%= link_to("All Questions", root_path) %>
    </p>

    <div class="well">
      <div class="pull-right">
        <%= link_to "edit", edit_question_path(@question) %> <%# check if question.user == current_user %>
        |
        <%= link_to "delete", question_path(@question), { method: :delete, data: { confirm: "Are you sure" } }  %>
      </div>
      <%= to_markdown @question.body %>
    </div>
    <hr>

    <%= form_for [@question, @answer] do |f| %>
      <%= render :partial => "shared/model_errors", locals: { model: @answer } %>
      <div class="form-group">
        <%= f.text_area :body, placeholder: "Answer... markdown and emoji supported", rows: 4, class: "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.submit "submit answer", class: "btn btn-primary"  %>
      </div>
    <% end %>

    <h5>Answers:</h5>

    <% if @question.reload.answers.empty? %>
      <em class="text-muted">No answes yet. Be there first to answer this question</em>
    <% end %>

    <% @question.reload.answers.each do |answer| %>
      <%= render 'answers/answer', answer: answer %>
    <% end %>
  </div>
</div>

