<hr>


<%= link_to "edit", edit_question_path(@question) %> <%# check if question.user == current_user %>
|
<%= link_to "delete", question_path(@question), { method: :delete, data: { confirm: "Are you sure" } }  %>

<h1><%= @question.title  %></h1>

<%= to_markdown @question.body %>

<hr>

<%= form_for [@question, @answer] do |f| %>
  <%= render :partial => "shared/model_errors", locals: { model: @answer } %>

  <%= f.text_area :body, placeholder: "Answer... markdown and emoji supported", rows: 4, cols: 50 %>

  <br>

  <%= f.submit "submit answer"%>

<% end %>

<h5>Answers:</h5>

<div id="answers-container">
  <%= render partial: 'questions/answers', locals: { answers: @answers }  %>
</div>

